<nav class="navbar navbar-light" style="background-color: #76f776;">
    <a class="navbar-brand" href="/">
        <img src="/img/CPQD_Logo_Positivo_RGB.png" width="90" height="33" class="d-inline-block align-top" alt="">
    </a>
</nav>